<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200734931217-c33lpf9l52r3dtroc2n4qci3rabkfcno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200734931217-c33lpf9l52r3dtroc2n4qci3rabkfcno</string>
	<key>API_KEY</key>
	<string>AIzaSyBMDWJrI19FGTkctjHT4M587HYZiwwCMkg</string>
	<key>GCM_SENDER_ID</key>
	<string>200734931217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.franlio.Firebase-Demo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-487fb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-487fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200734931217:ios:d3b5cd7dd6573d178cb4b0</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-487fb.firebaseio.com</string>
</dict>
</plist>